@model IEnumerable<Lab14MonitorizacionWeb.Models.Kilometraje>
@{
    ViewBag.Title = "Luis Gil";
}

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Destino)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Kilometros)
        </th>

    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Destino)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Kilometros)
            </td>

        </tr>
    }

</table>


<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
